h1 {
    text-align: center;
   }


.jumbotron {
    text-align: center;

}

.startBtn {
    border: 30px black;
    padding: 10px;
    background-color: blue;
    color: white;
}

#game-over, #questionArea {
    visibility: hidden;
}